/* header style */
.background-image {
    background-image: url(../images/background.jpg);
	width: 100%;
    height:970px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   

}
.header-block {
    width: 100%;
    height: 100px;
    position: absolute;
	display: flex;
    justify-content: space-between;
	top: 0;
    flex-wrap: wrap;
    background-color: black;
    position: fixed;
    z-index: 7;
    
}
.header {
    position: absolute;
}
.div-logo {
    display: flex;
}
.paw {
    max-width: 55px;
    width: 100%;
    margin-left: 2  0px;
    margin-bottom: 2px;
}
.petlovers {
    /* text-transform: capitalize; */
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: bolder;
    padding-top: 25px;
    margin-left: 10px;
    color: #f8b525;
    transform: rotate(-8deg);

}

.fonts {
    display: flex;
}

.fa-arrow-down {
    color: white;
    max-width: 15px;
    width: 100%;
    margin-top: 5px;
    height:25px;
    margin-top: auto;
}


.dropbtn {
    font-size: 20px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: normal;
    color: white;
    margin-left: 15px; 
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0e0d0d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(253, 247, 247);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:#ff9900;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: 40px;
    margin-left: 5px;
  }
  .list {
      text-align: center;
  }
  .navigation {
 
margin-top: 15px;
  }
 
.nav-ul {

    margin-left: 100px;
    padding-top: 25px;
	display: flex;
    
}
.nav-li {
	
	font-size: 20px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: normal;
    color: white;
    margin-left: 15px;
}
.active {
    color: #ff9900;
}

.log-lang {
    display: flex;
    margin-top: 15px;
}
.login
{
    max-width:300px;
    width: 100%;
    font-size:20px ;
    font-weight: normal;
    color: black;
    font-family: "BPG Nino Elite Caps", sans-serif;
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
    border:none;
    background-color: white;
    padding: 15px 32px;
    border-radius: 15px;
    
}
.login:hover {
    background-color: #ff9900;
    color: white;
}


.flag {
    max-width: 40px;
    width:100%;
    margin-right: 80px;
    margin-left: 50px;
    margin-top: 18px;

}
.flag1 {
    max-width: 40px;
    width: 100%;
    align-items: center;
    padding-top: 15px;
    margin-left: 9px;
}
.drop {
    display: none;
    position: absolute;
    /* background-color: rgb(12, 12, 12); */
    max-width: 60px;
    width: 100%;
    margin-left:40px ;
    z-index: 1;
}


.drop-menu:hover .drop {
    display: block;
}
.burger-bar {
    display: none;
}
.burger {
    color: white;
    font-size: 30px;
    max-width: 26px;
    width: 100%;
    height: 25px;
}



.adopt-header {
    max-width: 600px;
    width: 100%;
    height: 400px;
    position: absolute;
    margin-top: 400px;
    margin-left: 200px;
    
}
 .pet-adopt {
    font-size: 34px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: bold;
    color: #ff9900;
    margin-bottom: 30px;

    
} 
.adopt-container {
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    margin-bottom: 30px;
    
    
}
.find-bt {
    font-size:24px ;
    font-weight: normal;
    color: white;
    font-family: "BPG Nino Elite Caps", sans-serif;
    max-width:300px;
    width: 100%;
    border:none;
    background-color:#ff9900;
    padding: 15px 32px;
    border-radius: 8px; 


}
.find-bt:hover{
    color: #ff9900;
    background-color: white;
    border:2px solid #ff9900 ;
}
/* section 1 style */

.section1-wrapper {
    font-size: 48px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: bolder;
    color: black ;
    text-align: center;
    margin-top: 80px;

}
.line {
    max-width: 200px;
    width: 100%;
    height: 7px;
    background-color:#ff9900;
    border-radius: 5px;
    margin:0 auto;
    margin-top: 50px;
}
.paragraph {
    max-width: 1400px;
    width: 100%;
    margin-left: 300px;
    margin-top: 50px;
}
.p-1 {
    font-size: 24px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    text-indent: 50px;
    color: rgb(12, 12, 12) ;
    line-height: 1.8;
}
.chat {
    max-width: 85px;
    width: 100%;
    margin-left: 1550px;
    margin-top: 200px;
    position: fixed;
    z-index: 7;

    
}
.chat:hover {
    max-width: 110px;
    width: 100%;
}







/* section2 style */
.first-block {
    max-width: 320px;
    width: 100%;
}
.section-2 {
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.services {
    font-size: 30px;
    font-weight: normal;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: rgb(252, 246, 246);
    margin-left: 800px;
    border:none;
    background-color: #ff9900;
    padding:10px;
    text-align: center;
    border-radius: 15px;
    max-width:350px;
    width: 100%;

}
.services:hover{
    color: #ff9900;
    background-color: white;
    border:2px solid #ff9900 ;
}

.ser-container {
    display: flex;
    margin-left: 450px;
    margin-top: 80px;
}
.walk {
    display: flex;
   
   
}
.animal {
    max-width: 30px;
    margin-top: 70px;
    margin-left: 8px;
}
.fa-plus-square {
    max-width: 80px;
    width: 100%;
    color: #ff9900 ;
    margin-top: 100px;
}
.second-block {
    max-width: 340px;
}
.animal-p {
    font-size: 18px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: rgb(53,px 53, 52);
}
.dog {
    max-width: 400px;
    width: 100%;
}
.components {
    font-size: 25px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    margin-top: 8px;
    margin-bottom: 15px;
    margin-top: 100px;
    
    
}


/* section-3 style */
.section-3 {
    height: 800px;
 
}

.bg-image { background-image: url(../images/background2.jpg);
	width: 100%;
    height:800px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    
   
}
.big-div {
    position: relative;
    display: flex;  
    padding-top: 150px;
    justify-content: space-around;
}

.section3-wrapper {
    font-size: 36px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: #ff9900;
    margin-left: 860px;;
    margin-top: 40px;
    position: absolute;
}
.first {
    max-width: 300px;
    width: 100%;
    height: 400px;
   

}
.img {
    max-width: 300px;
    width: 100%;
    border-radius: 50%;
    align-items: center;
    margin-bottom: 15px;
   
}
.img:hover {
    max-width: 700px;
    width: 100%;
    border-radius: 20%;
}
.name {
    font-size: 24px;
    font-weight: bold;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: rgb(252, 246, 246);
    text-align: center;
    margin-bottom: 30px;
    
}
.about {
    font-size: 16px;
   
    font-family: "Arial GEO BoldItalic", sans-serif;
    color: rgb(223, 215, 215);
    text-align: center;
    margin-bottom: 30px;
}
.icon-div {
    display: flex;
    color: white;
    max-width: 100px;
    width: 100%;
    justify-content: space-between;
    margin-left: 100px;
}
.sec3-button {
    font-size: 20px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    background-color:#ff9900 ;
    max-width: 200px;
    width: 100%;
    height: 45px;
    padding: 2px;
    margin-top: 150px;
    margin-left: 850px; 
   
}
.sec3-button:hover{
    color: #ff9900;
    background-color: gray;
    border-color: #ff9900;
}


 /* section 4 style */

.section4-div {
    height: 900px;
    background-color: lightgray;
}
.wrapper-div {
    display: flex;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}


.adopt-wrapper {
    font-size: 36px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: bold;
    color: #ff9900;
    padding-top: 100px;
  
   
}



.paragraph-adopt {

    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: rgb(22, 22, 22);
    text-align: center;
    margin-top: 50px;
}
 .multiple-items {
     max-width: 1270px;
    width: 100%;
    margin-left: 260px;
    margin-top: 80px;
} 
.slider {
    display: flex;
} 
 .slider .slider_item {
    /* max-width: 350px; */
    width: 100%;
    height: 250px;
    margin:30px;
    border: 4px solid #ff9900;
    
}
 .slider .slider_item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.read {
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    font-weight: bolder;
    color:#ff9900 ;
    display: inline-block;
    margin-left: 1300px;
    
    margin-top: 70px; 
    border: 2px solid #ff9900;
    background-color: white;
    padding:10px;
    
}
.read::after {
    
    content: ' ';
    width: 35px;
    height: 4px;
    background-color: #FF7A00;
    display: inline-block;
    margin-left: 4px;
    
}
/* footer style */



.footer-container {
    width: 100%;
    height: 400px;
    background-color: rgb(8, 8, 8);
    text-align: center;
    display: flex;
    z-index: 9;
}
.left-block {
    max-width: 400px;
    width: 100%;
    margin-left:60px ;
}
.petlovers2 {
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
    padding-top: 90px;
    padding-left: 10px;
    
}
.nav-lu {
    font-size: 16px;
    color: white;
    margin-bottom:10px;
    font-family: "BPG Nino Elite Caps", sans-serif;
}
.f-nav {
    margin-bottom: 15px;
}
.footer-contact{
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    margin-bottom: 40px;
    padding-right: 80px;
    padding-top: 90px;

}
.right-block{
    max-width: 350px;
    width: 100%;
    margin-right: 85px;
    margin-left: 100px;
}
.cont-div {
    display: flex;
  margin-left: 30px;
  
}
.icon-div1 {
    display: flex;
    max-width: 150px;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 60px;
    
}
.soc-icons {
    max-width: 30px;
    width: 100%;
}
.soc-icons:hover{
    max-width: 60px;
    width: 100%;
    transform: rotate(20deg);
}
.images {
    max-width: 22px;
    width: 100%;
    margin-right: 10px;
}
.ft {
    font-size: 16px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    margin-bottom: 20px;
    padding-top: 10px;
}
.center-block {
    max-width: 750px;
    width: 100%;
    height: 400px;
    margin:0 auto;

}
.map-wrapper {
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: white;
    padding-top: 80px;
    margin-bottom: 30px;
}
.map {
    max-width: 800px;
    width: 100%;
    height: 250px;
  }
  iframe {
    max-width: 800px;
    width: 100%;
    height: 200px;
  }



  /*  about us*/

  .div-1{
      max-width: 700px;
      width: 100%;
  }
  .about-wrapper {
    font-size: 75px;
    font-family: 'Dancing Script', cursive;
    color: rgb(240, 161, 50) ;
    text-align: center;
    margin-top: 100px;


  }

  .text-1{
    font-size: 24px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    color: rgb(117, 114, 114);
    text-align: center;
    margin-top: 50px;

  }
  .div-2 {
      max-width: 800px;
      width: 100%;
      height: 700px;
      padding:40px;
      background-color: rgb(240, 161, 50);
      margin-bottom: 60px;
  }
  
  .img-div {
      display: flex;
      
      

  }
  .office {
      max-width: 325px;
      width: 100%;
      margin-right: 15px;

  }
  .office1 {
      max-width: 668px;
      width: 100%;
      height: 350px;
      margin-top: 15px;
  }

  /* contact style */
  .big-div1 {
      max-width: 1150px;
      width: 100%;
      height: 700px;
      background-color: rgb(224, 199, 144);
      display: flex;
      margin:0 auto;
      margin-top: 120px;
      align-items: center;
      text-align: center;
      padding:50px;
      justify-content: space-around;
      margin-bottom: 40px;
      
  }
 
  .form-container {
      margin-bottom: 80px;
  }
   
  .contact-header {
      font-size: 30px;
      font-weight: bold;
      font-family: "BPG Nino Elite Caps", sans-serif;
      color: rgb(48, 47, 48);
     margin-bottom: 50px;
  
  }
  .form1{
    text-align: center;
  }
 
  input {
      max-width: 400px;
      width: 100%;
      padding: 12px 20px;
      margin-bottom: 25px;
      
  }
  input:hover {
      border: 2px solid rgb(240, 161, 50) ;

  }
  textarea{
      width:400px;
      height: 150px;
      padding: 12px 20px;
      color: rgb(117, 114, 114);
      
      

  }
  textarea:hover {
    border: 2px solid rgb(240, 161, 50) ;
  }
  
  
  .divs{
      max-width: 350px;
      width: 100%;
      height: 200px;
      background-color: white;
      margin-left: 20px;
      margin-bottom: 20px;
      text-align: center;
      padding: 30px;
      
  }
  .flex {
      display: flex;
  }
  .soc-logo {
      max-width: 40px;
      width: 100%;
      margin-bottom: 11px;
      
     
  }
  .head {
    font-size: 22px;
    font-family: "BPG Nino Elite Caps", sans-serif;
    margin-bottom: 15px;
  }
  .input-btn {
    max-width: 80px;
    width: 100%;
 margin-top: 30px;
 margin-left: 20px;
  display: flex;
  
 
  
    
}
.button-input {
    max-width: 352px;
    width: 100%;
    height: 60px;
    background-color: #f78e04;
    border: none;
    position: absolute;
    
}
.send {
    color: rgb(255, 255, 255);
    font-size: 22px;
    position: relative;
    margin-left: 120px ;
    margin-top: 15px;
    
   
}
.fa-paper-plane {
    color: white;
    max-width: 15px;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 18px;
    margin-left: 3px;
}